body{
	display: block;
	margin: auto;
}
volume{
	display: block;
	margin-left: 10%;
	margin-right: auto;
 } 
section{
	display: block;
	margin-left: 10%;
	margin-right: auto;
 }
page{
	display: block;
	border: 5%;
	margin: auto;
}
 li {
	
	margin:auto;
 }
head{
	display: block;
	margin-left: 10%;
}
	
}
